* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 body{
    background-color: black;
    color: white;
 }
  /* Hidden class */
 .hidden {
    display: none;
    
  }
  #congratsImage{
    align-items: center;
    margin-top: 150px;
    padding-left: 400px;
  }
 
  /* image styling */
  .img {
    width: 200px;
    height: 200px;
    margin: 1rem;
  }
 
  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  
  }
 
  /* Form group and input elements */
  .form-Group {
    margin: 1.5rem;
    font-size: 1.2rem;
  }
 #form{
    align-items: center;
    margin-top: 150px;
    padding-left: 400px;
    font-size: 30px;
 }
 #form input{
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
 }
  #sumbitBtn {
    padding: 0.2rem;
    font-size: 1rem;
  }
 
  /* Display info */
  #displayInfo {
    margin: 2rem;
  }
 
  #info {
    font-size: 1rem;
    margin-top: px;
  }
 
  /* dice Image container*/
  #diceWthScore {
    margin: 1.5rem;
  }
  #tryAgainImage{
    margin-top: 90px;
    width: 500px;
    padding: 48px;
  }